[submodule "rb5-flight-summer-dev_ws"]
  path = rb5-flight-summer-dev_ws
  url = https://github.com/angelcervant1/rb5-flight-summer-dev_ws.git

[submodule "ros_ardrone"]
  path = ros_ardrone
  url = https://github.com/mmyself/ros_ardrone.git

[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git

[submodule "natnet_ros_cpp"]
  path = rb5-flight-summer-dev_ws/rb5_flight/src/natnet_ros_cpp
  url = https://github.com/L2S-lab/natnet_ros_cpp.git

