[submodule "rb5-flight-summer-dev_ws"]
  path = rb5-flight-summer-dev_ws
  url = https://github.com/angelcervant1/rb5-flight-summer-dev_ws.git
  branch = main

[submodule "ros_ardrone"]
  path = ros_ardrone
  url = https://github.com/mmyself/ros_ardrone.git

[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git

[submodule "rb5_vision"]
	path = rb5_vision
	url = https://github.com/angelcervant1/rb5_vision
  branch = main


